* {margin:0;padding:0;}
body {background-color:#1C3738; font-family:'Jura-Medium';}

    @font-face {
			font-family: "Jura-Medium";
			src: url("../fonts/Jura-Medium.eot");
			src: url("../fonts/Jura-Medium.eot?#iefix")format("embedded-opentype"),
			url("../fonts/Jura-Medium.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
    }

    @font-face {
			font-family: "Jura-Regular";
			src: url("../fonts/Jura-Regular.eot");
			src: url("../fonts/Jura-Regular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/Jura-Regular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
    }

    @font-face {
			font-family: "Jura-Bold";
			src: url("../fonts/Jura-Bold.eot");
			src: url("../fonts/Jura-Bold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/Jura-Bold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
    }


header {
    height:10vmin;
    width: 100%;
    background-color:#000F08;
    position: fixed;
    left: 0;
    top: 0;
}

header .logo img{
float:left;
margin:2vmin 6vmin;
width: 20vmin;
height: 7vmin;}


.footer-text{
margin:3vmin 6vmin;
font-size:1.8vmin;
color:#F4FFF8;
}

footer{
border-top: 0.8vmin solid #000F08;
margin:1;

}


@media (min-width: 0px){
header .header-category {
text-decoration:none;
height:5vmin;
width: 15%;
float:right;
margin:2vmin 2vmin;
font-size:3.5vmin;
font-family:'Jura-Regular';
color:#F4FFF8;}
}

@media (min-width: 992px){
header .header-category {
text-decoration:none;
height:5vmin;
width: 15%;
float:right;
margin:3vmin 2vmin;
font-size:5vmin;
font-family:'Jura-Regular';
color:#F4FFF8;}
}

header .header-category:hover {
color:#8BAAAD;
}



.main-image {
margin:11vmin 0vmin;
height: 100vmin;
background-image:url(fon1.JPG);
background-size:100% 100%;
}

.rules{
padding:15% 5vmin;
background-color:#F4FFF8;
}


ul li{
margin:5vmin ;
font-size:5vmin;
color:#000F08;
}

ul li a{
text-decoration:none;
font-size:5vmin;
font-family:'Jura-Bold';
color:#000F08;
}

ul li a:hover {
color:#8BAAAD;
}

.rules1{
padding:11vmin 2vmin;
background-color:#F4FFF8;
}

.rules1 img{
float:left;
margin:0vmin 4vmin ;
}

.rules1 h2{
margin:4vmin ;
font-size:4vmin;
font-family:'Jura-Bold';
color:#000F08;
text-align: center;
}

.rules1 p{
margin:1vmin 5vmin ;
font-size:3vmin;
font-family:'Jura-Medium';
color:#000F08;
}

.rules1 article{
border: 2px solid #1C3738; 
text-align: center;
    background: #8BAAAD;
margin:1vmin 5vmin ;
font-size:3vmin;
font-family:'Jura-Regular';
color:#000F08;
}

 .checkers {
display: inline-block;
width: 100%; 
padding:11vmin 0;
background: #8BAAAD;
}

 .checkers-board {
display: inline-block;
float: left; 
width: 45%;
margin:1vmin 5vmin;
border-spacing: 0; 
border-collapse: collapse; 
}

.checkers-board th {
 padding: 1vmin; 
font-size:4vmin;
width: 4vmin; 
height: 4vmin; 
font-family:'Jura-Regular';
color:#4D4847; 
}

.checkers-board td { 
border: 0.2vmin solid #4D4847; 
width: 10vmin; 
height: 10vmin; 
text-align: center; 
font-size: 6vmin; 
line-height: 0;
}

.checkers-board .light { 
background: #F4FFF8; 
}

.checkers-board .dark { 
background: #4D4847; 
}

.records {
	display: inline-block;
	width: 35%;
	margin:1vmin 5vmin;}

	.records h1{
		margin:5vmin ;}
	
.records .example{
	text-decoration:none;
	margin:5vmin ;
	font-size:4vmin;
	font-family:'Jura-Bold';
	color:#000F08;
	border: 0.5vmin solid #000F08;
	float: left; 
	background: #F4FFF8; 
	padding: 0 1vmin;
}

.main{
padding:5vmin 0;
background-color:#F4FFF8;
}

.main h4{
background-color:#8BAAAD;
padding:1vmin 0;
margin:3vmin 40vmin;
font-size:3vmin;
font-family:'Jura-Bold';
color:#000F08;
text-align: center;
}

.main p{
margin:6vmin 8vmin ;
font-size:3vmin;
font-family:'Jura-Medium';
color:#000F08;
}

.main mark{
background-color:#8BAAAD;
}

.main ul li{
margin:2vmin 10vmin;
font-size:3vmin;
color:#000F08;
}