<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Шахматы</title>
</head>
<body>
<header class="site-header">
    <a href="/" title="" class="logo">
        <img src="images/chess.png" alt="шахматы" />
    </a>
    <nav class="header-categories">
        <a class="header-category" href="/rules">правила</a>
        <a class="header-category" href="/play">играть</a>
    </nav>
</header>

<div class="main-image">
</div>

<div class="main">
    <p>Русские шашки – вариант игры в шашки, с которым в России знаком, пожалуй, почти каждый.
        В нашей стране, а также почти во всех странах бывшего СССР эта разновидность шашечной игры является наиболее популярной,
        и по праву носит имя “народной игры”.</p>
    <h4>Отличительные особенности:</h4>
    <ul  type="circle">
        <li>Шашки ходят только по клеткам тёмного цвета.</li>
        <li>Доска расположена так, чтобы угловое поле внизу слева со стороны игрока было тёмным.</li>
        <li>Простая шашка бьёт вперёд и назад, дамка ходит и бьёт на любое поле диагонали.</li>
        <li>Во время боя простая шашка может превратиться в дамку и сразу продолжить бой по правилам дамки.</li>
        <li>При наличии нескольких вариантов боя можно выбрать любой из них.</li>
    </ul>
    <p><mark>В настоящее время русские шашки, наряду со стоклеточными, имеют международный статус: в крупнейших соревнованиях, таких как чемпионаты мира и Европы, принимают участие представители более чем 40 стран. Развитие игры на международном уровне масштабно и плодотворно ведёт Всемирная Федерация шашек (FMJD).</mark></p>

</div>


<footer>
    <p class="footer-text"> © Екатерина Кубрина </p>
    <p class="footer-text"> katty9999@mail.ru </p>
    <p class="footer-text"> г.Омск </p>
</footer>

</body>
</html>