* {margin:0;padding:0;}
body {background-color:#004B8A; font-family:'Bebas Neue';}

    @font-face {
			font-family: "BebasRegular";
			src: url("../fonts/BebasRegular/BebasRegular.eot");
			src: url("../fonts/BebasRegular/BebasRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/BebasRegular/BebasRegular.woff") format("woff"),
			url("../fonts/BebasRegular/BebasRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "BebasBook";
			src: url("../fonts/BebasBook/BebasBook.eot");
			src: url("../fonts/BebasBook/BebasBook.eot?#iefix")format("embedded-opentype"),
			url("../fonts/BebasBook/BebasBook.woff") format("woff"),
			url("../fonts/BebasBook/BebasBook.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "BebasBold";
			src: url("../fonts/BebasBold/BebasBold.eot");
			src: url("../fonts/BebasBold/BebasBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/BebasBold/BebasBold.woff") format("woff"),
			url("../fonts/BebasBold/BebasBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "BebasLight";
			src: url("../fonts/BebasLight/BebasLight.eot");
			src: url("../fonts/BebasLight/BebasLight.eot?#iefix")format("embedded-opentype"),
			url("../fonts/BebasLight/BebasLight.woff") format("woff"),
			url("../fonts/BebasLight/BebasLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "BebasThin";
			src: url("../fonts/BebasThin/BebasThin.eot");
			src: url("../fonts/BebasThin/BebasThin.eot?#iefix")format("embedded-opentype"),
			url("../fonts/BebasThin/BebasThin.woff") format("woff"),
			url("../fonts/BebasThin/BebasThin.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}


header {height:10vmin;
    width: 100%;
    background-color:#eeeeee;
    position: fixed;
    left: 0;
    top: 0;
border-bottom: 0.8vmin double #004B8A;
}

header .logo img{
float:left;
margin:2vmin 6vmin;
width: 14vmin;
height: 7vmin;}


.main-header{
margin:1vmin 4vmin;
line-height: 9vmin;
font-size:10vmin;
font-family:'BebasRegular';
color:#eeeeee;
}


.footer-text{
margin:3vmin 6vmin;
font-size:1.8vmin;
font-family:'Arial Narrow';
color:#eeeeee;
}

footer{
border-top: 0.8vmin double #004B8A;
margin:0;
float:left;
display:inline-block;

}


@media (min-width: 0px){
header .header-category {
text-decoration:none;
height:5vmin;
width: 15%;
float:right;
margin:2vmin 2vmin;
font-size:3.5vmin;
font-family:'BebasBook';
color:#004b8a;}
}

@media (min-width: 992px){
header .header-category {
text-decoration:none;
height:5vmin;
width: 15%;
float:right;
margin:3vmin 2vmin;
font-size:5vmin;
font-family:'BebasBook';
color:#004b8a;}
}

header .header-category:hover {
border: 0.3vmin solid #004B8A;
}

.main-image {
margin:11vmin 0vmin;
height: 84.5vmin;
background-image:url(fon.JPG);
background-size:100% 100%;
}

.main-image-contacts {
margin:11vmin 3vmin;
height: 70vmin;
}

.windowRequest {
margin:4vmin;
background:#eeeeee;
width: 33vmin; 
float:right;
height:43vmin;
border-radius: 30px;
}

.windowRequest .windowRequest-text{
font-size:4vmin;
font-family:'BebasBook';
color:#004B8A;
background:#eeeeee;
background-clip: content-box;
padding: 3vmin 20%;
margin:auto;
}


.windowRequest-contacts .windowRequest-text{
font-size:3.5vmin;
font-family:'BebasBook';
background:#FF9933;
background-clip: content-box;
padding: 3vmin 10%;
}

.request {
        text-decoration:none;
        margin:1.5vmin 4.8vmin;
        font-size:3vmin;
        font-family:'BebasRegular';
        background:#FF9933;
        width:22vmin;
        height:6vmin;
        color:#242627;
        border-radius: 15px;
}


.formName {
        margin: 0vmin 2vmin;
        font-family:'Arial Narrow';
        background:#eeeeee;
        font-size:2.5vmin;
        width:28vmin;
        height:3vmin;
        border: 0.3vmin solid #004b8a;
        color:#242627;
border-radius: 10px;
}

.formEmail {
        margin: 0vmin 2vmin;
        font-family:'Arial Narrow';
        background:#eeeeee;
        font-size:2.5vmin;
        width:28vmin;
        height:3vmin;
        border: 0.3vmin solid #004b8a;
        color:#242627;
border-radius: 10px;
}

.formMessage {
        margin: 2vmin 2vmin;
        font-family:'Arial Narrow';
        background:#eeeeee;
        font-size:3vmin;
        color:#242627;
        border: 0.3vmin solid #004b8a;
        width:28vmin;
        height:20vmin;
        border-radius: 10px;
    }




.main-block1{
background:#eeeeee;
}

.main-text {
margin: 3vmin 11vmin;
font-size:3vmin;
font-family:'Arial Narrow';
color:#575756;
padding: 7vmin 10vmin;
border: 1vmin solid #FF9933;
}


.main-text-header-send{
font-size:5vmin;
font-family:'BebasBook';
color:#004B8A;
background:#b0d3ec;
background-clip: content-box;
padding: 3vmin 30%;
margin-top:21vmin;
margin-bottom:30vmin;
}

.main-text-header{
font-size:5vmin;
font-family:'BebasBook';
color:#004B8A;
background:#eeeeee;
background-clip: content-box;
padding: 3vmin 30%;
}

.main-text-header2{
font-size:5vmin;
font-family:'BebasBook';
color:#eeeeee;
background:#004B8A;
background-clip: content-box;
padding: 3vmin 30%;
}


@media (min-width: 0px){
.main-image2{
display: inline-block;
width: 100%;
margin: 4vmin;
}

.main-image2 img {
width: 90%;
height: 65vmin; 
}

.blue-block{
    background-color:#b0d3ec;
}

table {
margin:20vmin 6vmin;
table-layout: auto;
width: 85%;
display: inline-block;
}

table .text-block{
font-style: oblique; 
float:left;
font-size:4vmin;
font-family:'Arial Narrow';
color:#eeeeee;
padding: 0.2vmin 2vmin;
background:#FF9933;
border: 0.5vmin solid #FF9933;
border-radius: 20vmin;
}

table img{
margin:1vmin;
width: 30vmin;
height: 30vmin;
}

}





@media (min-width: 992px){
.main-image2{
display: inline-block;
width: 65%;
margin-left: 2vmin;
}

.main-image2 img {
height: 65vmin; 
width: 100%;
}

table {
margin:0vmin 0vmin;
table-layout: auto;
width: 30%;
display: inline-block;
}

table .text-block{
font-style: oblique; 
float:left;
font-size:3vmin;
font-family:'Arial Narrow';
color:#eeeeee;
padding: 0.2vmin 2vmin;
background:#FF9933;
border: 0.5vmin solid #FF9933;
border-radius: 20vmin;
}

table img{
margin:1vmin;
width: 20vmin;
height: 20vmin;
}

}


table .text-block:not(:hover) {
  background: #575756;
  border: 0.6vmin solid #575756;
  transition: 3s;
}




.main-image3 {
background:#eeeeee;
}

.main-contact{
    background:#eeeeee;
    margin:11vmin 0vmin;
}


.main-image3 img {
width: 50vmin;
height: 40vmin;
margin:3vmin;
}

.main-image3 img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.3);
}


